<template>
  <div>
    <div class="text-lg text-center mt-[30px] w-1/2 mx-auto">
      {{ title }}
    </div>

    <div>
      <div class="relative h-64">
        <img
          src="~/assets/img/undraw_profile_data.svg"
          alt="agreement-img"
          class="mx-auto mt-[20px]"
        />
        <div class="flex space-x-5 absolute top-20">
          <div class="mt-auto flex items-baseline text-9xl text-[#718096] px-5">
            1.
          </div>
          <div class="mt-auto px-5 mb-2 text-[#718096]">
            {{ text1 }}
          </div>
          <div
            class="
              absolute
              rounded-full
              w-[208px]
              h-[208px]
              -z-10
              bg-[#F7FAFC]
              -left-20
              -bottom-[25px]
            "
          ></div>
        </div>
      </div>
    </div>

    <div
      class="
        relative
        bg-gradient-to-b
        from-[#EBF4FF]
        to-[#E6FFFA]
        h-[420px]
        py-[64px]
      "
    >
      <div class="custom-shape-divider-top-1650280932">
        <svg
          data-name="Layer 1"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 1200 120"
          preserveAspectRatio="none"
        >
          <path
            d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z"
            class="shape-fill"
          ></path>
        </svg>
      </div>
      <div class="flex pl-[35px]">
        <div class="mt-auto flex items-baseline text-9xl text-[#718096] px-5">
          2.
        </div>
        <div class="mt-auto pr-5 mb-2 text-[#718096]">
          {{ text2 }}
        </div>
      </div>
      <img
        src="~/assets/img/undraw_task_31wc.svg"
        alt="undraw-task-img"
        class="pt-2 mx-auto"
      />
      <div class="custom-shape-divider-bottom-1650281043">
        <svg
          data-name="Layer 1"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 1200 120"
          preserveAspectRatio="none"
        >
          <path
            d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z"
            class="shape-fill"
          ></path>
        </svg>
      </div>
    </div>

    <div class="-bottom-20">
      <div class="flex pl-[54px] relative">
        <div class="mt-auto flex items-baseline text-9xl text-[#718096] px-5">
          3.
        </div>
        <div class="mt-auto pr-5 mb-2 text-[#718096]">
          {{ text3 }}
        </div>
        <div
          class="
            absolute
            rounded-full
            w-[300px]
            h-[300px]
            bg-[#F7FAFC]
            -left-5
            -top-[2px]
            -z-10
          "
        ></div>
      </div>
      <slot></slot>
    </div>
  </div>
</template>

<style>
.custom-shape-divider-top-1650280932 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1650280932 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1650280932 .shape-fill {
  fill: #ffffff;
}

.custom-shape-divider-bottom-1650281043 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1650281043 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1650281043 .shape-fill {
  fill: #ffffff;
}

/** For mobile devices **/
@media (max-width: 767px) {
  .custom-shape-divider-bottom-1650281043 svg {
    width: calc(100% + 1.3px);
    height: 36px;
  }
}

/** For mobile devices **/
@media (max-width: 767px) {
  .custom-shape-divider-top-1650280932 svg {
    width: calc(100% + 1.3px);
    height: 39px;
  }
}
</style>

<script>
export default {
  name: 'NuxtContent',
  props: ['title', 'text1', 'text2', 'text3'],
}
</script>
