<template>
  <div class="mb-[130px] relative">
    <div
      class="
        fixed
        top-0
        inset-x-0
        bg-white
        z-50
        drop-shadow-2xl
        rounded-b-2xl
        h-[67px]
      "
    >
      <div class="bg-gradient-to-r from-[#319795] to-[#3182CE] h-[5px]"></div>
      <div class="flex p-4">
        <div class="mt-auto mb-auto ml-auto text-teal-500 text-sm">Login</div>
      </div>
    </div>
    <div
      class="
        bg-gradient-to-b
        from-[#EBF4FF]
        to-[#E6FFFA]
        pt-[18px]
        pb-24
        relative
        mt-[67px]
      "
    >
      <div class="text-4xl text-center break-words w-auto px-[20px]">
        Deine Job <br />website
      </div>
      <img
        src="~/assets/img/undraw_agreement_aajr.svg"
        alt="agreement-img"
        class="pt-2"
      />
      <div class="custom-shape-divider-bottom-1650276121">
        <svg
          data-name="Layer 1"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 1200 120"
          preserveAspectRatio="none"
        >
          <path
            d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z"
            class="shape-fill"
          ></path>
        </svg>
      </div>
    </div>
    <div class="mt-8 relative">
      <div class="flex px-5 overflow-auto no-scrollbar">
        <button
          class="
            border-y-2 border-l-2
            py-[12px]
            px-[32px]
            text-teal-200
            rounded-l-xl
          "
          :class="{ active: tab === 0 }"
          @click.stop="applyTab(0)"
        >
          Arbeitneighmer
        </button>
        <button
          class="border-y-2 border-l-2 py-[12px] px-[32px] text-teal-200"
          :class="{ active: tab === 1 }"
          @click.stop="applyTab(1)"
        >
          Arbeitgeber
        </button>
        <button
          class="border-2 py-[12px] px-[32px] text-teal-200 rounded-r-xl"
          :class="{ active: tab === 2 }"
          @click.stop="applyTab(2)"
        >
          Temporarburo
        </button>
      </div>
      <Content
        title="Drei einfache Schritte zu deinem neuen Job"
        text1="Erstellen dein Lebenslauf"
        text2="Erstellen dein Lebenslauf"
        text3="Mit nur einem Klick bewerben"
        v-if="tab === 0"
        ><img
          src="~/assets/img/undraw_personal_file_222m.svg"
          alt="personal-file-img"
          class="ml-auto"
      /></Content>
      <Content
        title="Drei einfache Schritte zu deinem neuen Job"
        text1="Erstellen dein Lebenslauf"
        text2="Erstellen dein Lebenslauf"
        text3="Mit nur einem Klick bewerben"
        v-else-if="tab === 1"
        ><img
          src="~/assets/img/undraw_swipe_profiles1.svg"
          alt="personal-file-img"
          class="ml-auto mr-auto"
      /></Content>
      <Content
        title="Drei einfache Schritte zur Vermittlung neuer Mitarbeiter"
        text1="Erstellen dein Unternehmensprofil"
        text2="Erhalte Vermittlungs-angebot von Arbeitgeber"
        text3="Vermittlung nach Provision oder Studendelohn"
        v-else
        ><img
          src="~/assets/img/undraw_business_deal_cpi9.svg"
          alt="personal-file-img"
          class="ml-auto mr-auto"
      /></Content>
    </div>
    <div
      class="
        fixed
        bottom-0
        bg-white
        inset-x-0
        px-[20px]
        py-[12px]
        drop-shadow-md
      "
    >
      <div>
        <button
          class="
            w-full
            p-[12px]
            rounded-2xl
            bg-gradient-to-r
            from-[#319795]
            to-[#3182CE]
            text-white
          "
        >
          Kostenios Registrieren
        </button>
      </div>
    </div>
  </div>
</template>

<style>
.custom-shape-divider-bottom-1650276121 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1650276121 svg {
  position: relative;
  display: block;
  width: calc(183% + 1.3px);
  height: 100px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1650276121 .shape-fill {
  fill: #ffffff;
}

.active {
  background: #81e6d9;
  color: white;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
</style>

<script>
export default {
  name: 'IndexPage',
  data() {
    return {
      tab: 0,
    }
  },
  methods: {
    applyTab(newTab) {
      this.tab = newTab
    },
  },
}
</script>
